.Board {
  display: flex;
  flex-direction: row;
  min-width: calc(100vw - 12rem);
  min-height: calc(100vh - 4rem);
}

.Board-grid {
  display: flex;
  justify-content: start;
}

.Board-warning {
  margin: 3rem;
  width: 50rem;
  color: rgb(233, 85, 85);
}
