.Card-idle {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 14rem;
  height: 4.5rem;
  cursor: pointer;
  border: 4px solid #8095a8;
  border-radius: 0.5rem;
  margin: 0.5rem;
  background-color: #1b262c;
  padding: 0.25rem;
}

.Card-edit:hover {
  color: white;
}

.Card-info {
  display: flex;
  flex-direction: column;
}

.Card-header {
  display: grid;
  grid-template-columns: 11fr 1fr;
}

.Card-drop {
  animation: cardAnim-drop 0.25s ease-in;
}

.Card-idle:hover {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 14rem;
  height: 4.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  margin: 0.5rem;
  border: 4px solid #8095a8;
  background-color: #1f2f37;
  color: white;
  padding: 0.25rem;
}

.Card-inset {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 14rem;
  height: 4.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 0.25rem;
  /* background-color: #10191f; */
  /* box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1); */
}

.Card-drag {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 14rem;
  height: 4.5rem;
  cursor: pointer;
  border-width: 4px;
  border-radius: 0.5rem;
  margin: 0.5rem;
  border-color: white;
  background-color: #1b262c;
  padding: 0.25rem;
  animation: cardAnim-pickup 0.25s ease-out;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transform: scale(1.05);
}

@keyframes cardAnim-pickup {
  0% {
    transform: scale(1);
    border-color: #8095a8;
  }
  100% {
    transform: scale(1.05);
    border-color: white;
  }
}

@keyframes cardAnim-drop {
  0% {
    transform: scale(1.05);
    border-color: white;
  }
  100% {
    transform: scale(1);
    border-color: #8095a8;
  }
}
