.Container {
  display: flex;
  flex-direction: column;
  width: 16.5rem;
  min-height: 12rem;
  height: fit-content;
  padding: 0.5rem;
  cursor: pointer;
  border-width: 4px;
  border-color: #8095a8;
  border-radius: 0.5rem;
  margin: 1rem;
  background-color: #121c22;
}

.Container-inset {
  display: flex;
  flex-direction: column;
  width: 16.5rem;
  height: 15rem;
  border-radius: 0.5rem;
  margin: 1rem;
  box-shadow: inset 0 150px 100px -100px #44c7ff, -30px -30px 50px -30px #44c7ff,
    30px -30px 50px -30px #44c7ff;
}

.Container-drag {
  border-color: #44c7ff;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  z-index: 1;
}

.Container-header {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  align-items: center;
  padding: 0.25rem;
  font-size: 1.5rem;
  color: #8095a8;
  background-color: #1b262c;
  width: 100%;
  height: 3rem;
}

.Container-header p {
  text-align: center;
}

.Container-header:hover {
  color: white;
}

.Container-grip {
  justify-self: center;
}
