.Container {
  display: flex;
  flex-direction: column;
  width: 16.5rem;
  min-height: 12rem;
  height: fit-content;
  padding: 0.5rem;
  cursor: pointer;
  border: 4px solid #8095a8;
  border-radius: 0.5rem;
  margin: 1rem;
  background-color: #121c22;
}

.Container-inset {
  display: flex;
  flex-direction: column;
  width: 16.5rem;
  height: 15rem;
  border-radius: 0.5rem;
  margin: 1rem;
  box-shadow: 0px -20px 20px -10px rgba(0, 0, 0, 0.304),
    inset 0px 50px 20px 5px rgba(0, 0, 0, 0.1);
}

.Container-drag {
  border-color: white;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  z-index: 1;
  transform: scale(1.01);
}

.Container-header {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  align-items: center;
  padding: 0.25rem;
  font-size: 1.1rem;
  font-weight: bold;
  color: #8095a8;
  background-color: #1b262c;
  width: 100%;
  height: 3rem;
  overflow-wrap: break-word;
  overflow: hidden;
}

.Container-header p {
  text-align: center;
}

.Container-header:hover {
  color: white;
}

.Container-grip {
  justify-self: center;
}
