.KanbanCard {
    display: flex;
    flex-direction: row;
    width: 18rem;
    min-height: 5rem;
    background-color: rgb(41, 41, 41);
    color: white;
    margin: 0.25rem;
    z-index: 1;
    border-radius: 1rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title {
    display: flex;
    flex-direction: row;
    padding-left: 0.5rem;
    color: rgb(224, 224, 224);
}

.desc {
    display: flex;
    flex-direction: row;
    padding-left: 0.5rem;
    color: rgb(224, 224, 224);
    flex-wrap: wrap;
    text-align: left;
}