.Overview {
  width: 100%;
  margin-top: 5rem;
  margin-left: 1rem;
}

.Overview-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Overview-boardDetails {
  max-width: 50%;
  min-width: 17rem;
  min-height: 10rem;
  border: 4px solid #8095a8;
  border-radius: 0.5rem;
  margin: 0.5rem;
  background-color: #1b262c;
  padding: 0.25rem;
}

.Overview-containerDetails {
  border: 4px solid white;
  border-radius: 0.5rem;
  margin: 0.5rem;
  background-color: #1b262c;
  padding: 0.25rem;
}

.Overview-progressBackground {
  height: 1rem;
  background-color: lightgray;
}

.Overview-progress {
  height: 100%;
}

.Overview-downloadUpload {
  display: flex;
  flex-direction: row;
  padding: 1em;
  gap: 2em;
}

.Overview-downloadUpload a,
.Overview-downloadUpload label {
  font-size: 2em;
  cursor: pointer;
}

.Overview-downloadUpload a:hover {
  color: white;
}
.Overview-downloadUpload label:hover {
  color: white;
}

input[type="file"] {
  display: none;
}
