.TileGrid {
  display: flex;
  min-height: 100vh;
  margin: 4rem auto;
}

.TileGrid-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.TileGrid-content {
  margin: 1rem auto;
}
