.Projects {
  display: flex;
  height: 100vh;
  margin: auto;
}

.Projects-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  /* grid-template-columns: repeat( auto-fit, minmax(0, 1fr) ); */
  gap: 1rem;
  /* display: flex;
  flex-wrap: wrap;
  gap: 1rem; */
}

.Projects-content {
  margin: auto;
}
