.TileGrid {
  display: flex;
  margin: auto;
}

.TileGrid-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.TileGrid-content {
  margin: 1rem auto;
}

.TileGrid-warning {
  margin: 2rem;
  width: 50rem;
  color: rgb(233, 85, 85);
}
