.TileInputForm {
  display: flex;
  flex-direction: column;
  background-color: #1b262c;
  width: 28rem;
  height: 25rem;
  padding: 1rem;
  border-width: 4px;
  border-color: #8095a8;
  border-radius: 1rem;
  font-size: 1rem;
}

.TileInputForm span {
  color: rgb(255, 45, 45);
}

.TileInputForm-header {
  font-size: 2rem;
  text-align: center;
}

.TileInputForm-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TileInputForm form {
  padding: 1rem;
}

.TileInputForm-inputs {
  display: grid;
  text-align: left;
}

.TileInputForm-inputs label {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.TileInputForm-inputs input {
  padding: 0.25rem;
}

.TileInputForm-inputs textarea {
  padding: 0.25rem;
}

.TileInputForm-submitBtn {
  width: 12rem;
  padding: 0.5rem;
  margin-top: 1rem;
  background-color: rgb(37, 99, 255);
  color: white;
  font-weight: bold;
  border-radius: 0.75rem;
}

.TileInputForm-submitBtn:hover {
  background-color: rgb(29, 78, 255);
}

.TileInputForm-cancelBtn {
  width: 12rem;
  padding: 0.5rem;
  margin-top: 1rem;
  background-color: rgb(255, 45, 45);
  color: white;
  font-weight: bold;
  border-radius: 0.75rem;
}

.TileInputForm-cancelBtn:hover {
  background-color: rgb(236, 36, 36);
}
