.Tile {
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 15rem;
  padding: 1rem;
  cursor: pointer;
}

.Tile-inactive {
  border-width: 4px;
  border-color: #8095a8;
  border-radius: 1rem;
}

.Tile-active {
  border-width: 6px;
  border-color: magenta;
  border-radius: 1rem;
  box-shadow: 0 0 6px 6px rgba(255, 0, 255, 0.271);
  /* animation: pulsate 3s ease-out infinite; */
}

.Tile:hover {
  background-color: #1f2f37;
}

.Tile-header {
  display: grid;
  grid-template-columns: 9fr 1fr;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.Tile-add {
  margin: auto;
  font-size: 6rem;
  text-align: center;
}

.Tile-trashIcon:hover {
  color: rgb(255, 45, 45);
}

@keyframes pulsate {
  0% {
    box-shadow: 0 0 0 0 #121c22;
  }
  50% {
    box-shadow: 0 0 8px 8px rgba(255, 0, 255, 0.271);
  }
  100% {
    box-shadow: 0 0 0 0 #121c22;
  }
}
